<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">All Current Buyers</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th>
                  Beds
                </th>
                <th>
                  Bathrooms
                </th>
                <th>
                  Commute Score
                </th>
                <th>
                  Community Score
                </th>
                <th >
                  Price
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Portia
                  </td>
                  <td>
                    Moreby
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    3
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    9
                  </td>
                  <td>
                    9
                  </td>
                  <td >
                    12M
                  </td>
                </tr>
                <tr>
                  <td>
                    Emylee
                  </td>
                  <td>
                    Janning
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    1
                  </td>
                  <td>
                    9
                  </td>
                  <td>
                    8
                  </td>
                  <td >
                    8M
                  </td>
                </tr>
                <tr>
                  <td>
                    Haven
                  </td>
                  <td>
                    Joddins
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    2+
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    7
                  </td>
                  <td>
                    9
                  </td>
                  <td >
                    5M
                  </td>
                </tr>
                <tr>
                  <td>
                    Rochette
                  </td>
                  <td>
                    Peacocke
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    3+
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    4
                  </td>
                  <td>
                    8
                  </td>
                  <td >
                    3M
                  </td>
                </tr>
                <tr>
                  <td>
                    Morie
                  </td>
                  <td>
                    Darracott
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    1+
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    75
                  </td>
                  <td>
                    9
                  </td>
                  <td >
                    2.5M
                  </td>
                </tr>
                <tr>
                  <td>
                    Artus
                  </td>
                  <td>
                    Buey
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    4
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    4
                  </td>
                  <td>
                   6
                  </td>
                  <td >
                    1.5M
                  </td>
                </tr>
                <tr>
                  <td>
                    Rafferty
                  </td>
                  <td>
                    Sedwick
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    3+
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    7
                  </td>
                  <td>
                    8
                  </td>
                  <td >
                    1.22M
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>   
  </div>
</div>
