<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Best Buyers Token Curated Registry</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th>
                  Beds
                </th>
                <th>
                  Bathrooms
                </th>
                <th>
                  Commute Score
                </th>
                <th>
                  Community Score
                </th>
                <th >
                  Price
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Emylee
                  </td>
                  <td>
                    Janning
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    1
                  </td>
                  <td>
                    9
                  </td>
                  <td>
                    8
                  </td>
                  <td >
                    8M
                  </td>
                </tr>
                <tr>
                  <td>
                    Haven
                  </td>
                  <td>
                    Joddins
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    2+
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    7
                  </td>
                  <td>
                    9
                  </td>
                  <td >
                    5M
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title"> Best Sellers Token Curated Registry</h4>
          <p class="category"> Sorted by Ai Score</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th>
                  Beds
                </th>
                <th>
                  Bathrooms
                </th>
                <th>
                  Garage
                </th>
                <th>
                  Schools Score
                </th>
                <th >
                  Asking Price
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Renard
                  </td>
                  <td>
                    Goldhill
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    3+
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    Street Parking
                  </td>
                  <td>
                    9
                  </td>
                  <td >
                    5.45M
                  </td>
                </tr>
                <tr>
                  <td>
                    Quill
                  </td>
                  <td>
                    Tuffey
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    4+
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    Street Parking
                  </td>
                  <td>
                    8
                  </td>
                  <td >
                    3.3M
                  </td>
                </tr>
                <tr>
                  <td>
                    Cornall
                  </td>
                  <td>
                    Probate
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    1+
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    Street Parking
                  </td>
                  <td>
                    9
                  </td>
                  <td >
                    3.5M
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
