<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Most Motivated Sellers</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th>
                  Beds
                </th>
                <th>
                  Bathrooms
                </th>
                <th>
                  Garage
                </th>
                <th>
                  Schools Score
                </th>
                <th >
                  Asking Price
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Anastasia
                  </td>
                  <td>
                    McKerrow
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    5
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    Attached
                  </td>
                  <td>
                    9
                  </td>
                  <td >
                    12.99M
                  </td>
                </tr>
                <tr>
                  <td>
                    Thorndike
                  </td>
                  <td>
                    Frogley
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    4
                  </td>
                  <td>
                    1
                  </td>
                  <td>
                    Attached
                  </td>
                  <td>
                    8
                  </td>
                  <td >
                    8M
                  </td>
                </tr>
                <tr>
                  <td>
                    Renard
                  </td>
                  <td>
                    Goldhill
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    3+
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    Street Parking
                  </td>
                  <td>
                    9
                  </td>
                  <td >
                    5.45M
                  </td>
                </tr>
                <tr>
                  <td>
                    Quill
                  </td>
                  <td>
                    Tuffey
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    4+
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    Street Parking
                  </td>
                  <td>
                    8
                  </td>
                  <td >
                    3.3M
                  </td>
                </tr>
                <tr>
                  <td>
                    Cornall
                  </td>
                  <td>
                    Probate
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    1+
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    Street Parking
                  </td>
                  <td>
                    9
                  </td>
                  <td >
                    3.5M
                  </td>
                </tr>
                <tr>
                  <td>
                    Lynn
                  </td>
                  <td>
                    Clemente
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    4
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    Attached
                  </td>
                  <td>
                   6
                  </td>
                  <td >
                    1.5M
                  </td>
                </tr>
                <tr>
                  <td>
                    Julee
                  </td>
                  <td>
                    Smurfitt
                  </td>
                  <td>
                    USA
                  </td>
                  <td>
                    3+
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    Attached
                  </td>
                  <td>
                    8
                  </td>
                  <td >
                    1.52M
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>   
  </div>
</div>
